# Better Auth
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='http://localhost:3000'

# Google Provider
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# DB
DATABASE_URL='postgres://postgres@localhost:5432/postgres'

# Email (Resend)
RESEND_API_KEY='your_resend_api_key'
RESEND_FROM_EMAIL='OpenAg <onboarding@yourdomain.com>'
